# File: custom.scss

/*-- scss:defaults --*/

$primary: #7C4700 !default;
$secondary: #00A86B !default;

/*-- scss:rules --*/

.navbar {
  background-color: $primary;
}

.nav-link {
  color: white !important;
}

.nav-link:hover {
  color: darken(white, 10%) !important;
}

/*-- scss:defaults --*/
$max-width: 100%;
$navbar-width: 100%;

/*-- scss:rules --*/
.navbar-container {
  width: 100%;
  max-width: 100%;
}

.quarto-title-banner {
  width: 100%;
  max-width: 100%;
}

#quarto-content {
  width: 100%;
  max-width: 100%;
  margin-left: 0;
}